<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paises</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #container{
            display: flex;
            justify-content: space-between;
            margin: 20px;
        }
        #add{
            background-color: darkgreen;
            color: whitesmoke;
            text-decoration: none;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <a href="/paises" id="add">Añadir País</a>
    <div id="container">
        {% for pais in pais %}
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/' + pais.bandera_url) }}" class="card-img-top" alt="{{pais.bandera_url}}">
            <div class="card-body">
            <h5 class="card-title">{{pais.nombre}}</h5>
            <p class="card-text">{{pais.capital}}</p>
            <a href="#" class="btn btn-primary mostrarDetalles">Detalles</a>
            <div class="card detalles" style="width: 10rem; display: none;">
                <img src="{{ url_for('static', filename='images/' + pais.bandera_url) }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Pais: {{pais.nombre}}</h5>
                <p class="card-text">Capital: {{pais.capital}}</p>
                <p class="card-text">Nº de habitantes: {{pais.habitantes}}</p>
                <p class="card-text">Dia nacional: {{pais.diaNacional}}</p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var botonesDetalles = document.querySelectorAll('.mostrarDetalles');

        botonesDetalles.forEach(function(boton) {
            boton.addEventListener('click', function(e) {
                e.preventDefault();
                var detalles = this.closest('.card-body').querySelector('.detalles');
                if(detalles.style.display == "none"){
                    detalles.style.display = "block";
                } else{
                    detalles.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>
